{% extends "base.html" %}

{% block content %}

<div class="catalog-table">
    <table id="data" class="table table-dark table-striped" >
      <thead>
        <tr>
          <th>Component Name</th>
          <th>Thrust</th>
          <th>Status</th>
          <th>Description</th>
          <th>Version</th>
          <th>ICICLE Release</th>
        </tr>
      </thead>
      <tbody class=""catalog-table>
        {% for c in components %}
        {% if c['publicAccess'] == True %}
        <tr>
          <td>{{ c['name'] }} (<a href="/data/{{ c['id'] }}">Details</a>)</td>
          <td>{{ c['primaryThrust'] }}</td>
          <td>{{ c['status'] }}</td>
          <td>{{ c['description'] }}</td>
          <td>{{ c['componentVersion'] }}</td>
          <td>{{ c['targetIcicleRelease'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
  let rect = document.createElementNS("http://www.http://www.w3.org/2000/svg", "rect");
  let table = document.getElementById("data");
  const svg = document.getElementsById("table-bg")

  rect.setAttribute("x", svg.offsetLeft);
  rect.setAttribute("y", svg.offsetTop);
  rect.setAttribute("width", table.offsetWidth);
  rect.setAttribute("height", table.offsetHeight);
  rect.setAttribute("fill", "gray");
  rect.setAttribute("stroke", "azure");
  rect.setAttribute("stroke-width", "5");
  rect.setAttribute("opacity", "0.8");

  svg.appendChild(rect);
</script>
{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
</script>
{% endblock %}
